body {
  background-color: #eb8f04d0;
  color: #fdffff;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

button {
  padding: 5px 20px;
  background-color: #337ab7;
  border-style: none;
  color: #fdffff;
  border-radius: 15%;
}

input {
  height: 20px;
}

h3 {
  text-align: center;
}
